.login-form {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
}

.student-login-left {
  background-image: url('Assets/mentor.jpeg');
  position: sticky;
  top: 0;
  height: 100%;
  width: 60vw;
}

.student-login-right {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.student-login-right>* {
  width: 60%;
}

.login-content>* {
  margin-top: 0.5em;
  text-align: center;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 80px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px !important;
}

input {
  border: none;
  border-bottom: 2px solid black;
  padding: 1em 0;
}

input:focus {
  outline: none
}

#pwd-visibility-img {
  position: relative;
  left: 95%;
  bottom: 55px;
  width: 20px;
  cursor: pointer;
}

#pwd-visibility-img::selection {
  background-color: transparent;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#checkbox-container {
  color: #464646;
  display: flex;
  align-items: center;
  gap: 5px;
}

#forgot-pwd>a {
  color: gray;
  font-size: 0.8em;
  text-decoration: none;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn-container>* {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5em;
  height: 20px;
  gap: 10px;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}

#login-btn {
  background-color: black;
  color: white;
}


#login-google-btn img {
  width: 20px;
}

.signup-text {
  font-size: 0.9em;
  margin: 3em 0;
  text-align: center;
}

.signup-text a {
  color: black;
  font-weight: bold;
}

/* Hide Browsers Default Password Eye */
input[type="password"]::-ms-reveal {
  display: none;
  /* For Edge */
}

input[type="password"]::-webkit-inner-spin-button {
  display: none;
  /* For Chrome/Safari */
}

input[type="password"]::-webkit-outer-spin-button {
  display: none;
  /* For Chrome/Safari */
}

/* Responsive */

@media screen and (max-width: 930px) {
  .student-login-left {
    display: none;
  }

  .student-login-right>* {
    width: 150%;
  }
}

@media screen and (max-width: 1080px) {
  .student-login-left {
    width: 50vw;
  }

  .student-login-right {
    width: 50vw;
  }

}
